@{
    ViewBag.Title = "Contact";
}
@model DvkService.Models.EmailModel
<main class="main-content contact">

    <div class="fullwidth-block content">
        <div class="container">
            <h2 class="entry-title">Omnis iste natus error sit voluptatem doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto</h2>
            <div class="row">
                <div class="col-md-5">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "contact-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Отправьте своё сообщение</h4>
                        <hr />

                                @Html.TextBoxFor(m => m.FromName, new { id = "name", placeholder = "Имя..." })
                                @Html.ValidationMessageFor(m => m.FromName)

                                @Html.TextBoxFor(m => m.FromEmail, new { id = "email", placeholder = "Email..." })
                                @Html.ValidationMessageFor(m => m.FromEmail)
                                
                                @Html.TextBoxFor(m=>m.PhoneNumber, new { id = "phone", placeholder = "Телефон..." });
                                @Html.ValidationMessageFor(m=>m.PhoneNumber);

                                @Html.TextAreaFor(m => m.Message, new { id = "message", placeholder = "Сообщение..." })
                                @Html.ValidationMessageFor(m => m.Message)

                        <div class="text-right">
                            <input type="submit" value="Send message">
                        </div>
                    }

                    
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="map-container">
                        <div class="map"></div>
                        <address>
                            <strong>DVK service</strong>
                            <a href="mailto:office@companyname.com">office@companyname.com</a> <br>
                            <span>Днепр, проспект Богдана Хмельницкого, 137Д</span>
                            <a href="tel:532930098891">(532) 930 098 891</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>